__pycache__/
.ipynb_checkpoints/
processed
outputs
outputs_v2
checkpoints
checkpoints_v2
trash
examples*
.env
build
*.egg-info/
*.zip
0.28.1
0.21
2.0.0
demo_part1.ipynb
demo_part1.ipynb
demo_part3.ipynb
demo_part2.ipynb
